MONGOSE_URL = mongodb+srv://dubeyharsh342_db_user:8U6ocvetxIMJQoGJ@cluster0.eybv5bz.mongodb.net/?appName=Cluster0
NODE_ENV = DEVELOPMENT
JWT_SECRET = your_super_secret_jwt_key_change_in_production_12345
PORT = 5001
